/* ==========================================================================
   Variables
   ========================================================================== */

$white: #fff;
$text-color: #444;
$text-color-light: #999;
